https://tushare.pro/document/2

In [1]:
pip install tushare

Requirement already satisfied: tushare in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (1.2.89)
Requirement already satisfied: bs4 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from tushare) (0.0.1)
Requirement already satisfied: simplejson in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from tushare) (3.18.4)
Requirement already satisfied: requests in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from tushare) (2.28.2)
Collecting websocket-client==0.57.0
  Using cached websocket_client-0.57.0-py2.py3-none-any.whl (200 kB)
Requirement already satisfied: lxml in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from tushare) (4.9.2)
Requirement already satisfied: pandas in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from tushare) (1.5.3)
Requirement already satisfied: six in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from websocket-client==0.57.0->tushare) (1.16.0)
Requirement already satisfied: beautifulsoup4 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from bs4->tushare) (4.11.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from pandas->tushare) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from pandas->tushare) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from pandas->tushare) (2023.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from requests->tushare) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from requests->tushare) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from requests->tushare) (1.26.15)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from requests->tushare) (3.1.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\nick_ni\anaconda3\envs\nichengyu\lib\site-packages (from beautifulsoup4->bs4->tushare) (2.3.2.post1)
Installing collected packages: websocket-client
  Attempting uninstall: websocket-client
    Found existing installation: websocket-client 0.58.0
    Uninstalling websocket-client-0.58.0:
      Successfully uninstalled websocket-client-0.58.0
Successfully installed websocket-client-0.57.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import tushare as ts

In [2]:
ts.set_token('214442c6d812a787cc8de4446b410c0ed00c6fbb54ef6aed1ecc6ebb')
pro = ts.pro_api()

https://tushare.pro/document/2?doc_id=104

In [3]:
df = pro.hs_const(hs_type='SH')
df

       ts_code hs_type   in_date out_date is_new
0    601628.SH      SH  20141117     None      1
1    601099.SH      SH  20141117     None      1
2    601808.SH      SH  20141117     None      1
3    601107.SH      SH  20141117     None      1
4    601880.SH      SH  20141117     None      1
..         ...     ...       ...      ...    ...
576  603638.SH      SH  20190617     None      1
577  603708.SH      SH  20190617     None      1
578  603712.SH      SH  20190617     None      1
579  603808.SH      SH  20190617     None      1
580  603876.SH      SH  20190617     None      1

[581 rows x 5 columns]

https://tushare.pro/document/2?doc_id=27

In [4]:
df = pro.daily(ts_code='000001.SZ', start_date='20180701', end_date='20180718')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20180718,8.75,8.85,8.69,8.70,8.72,-0.02,-0.23,525152.77,460697.377
1,000001.SZ,20180717,8.74,8.75,8.66,8.72,8.73,-0.01,-0.11,375356.33,326396.994
2,000001.SZ,20180716,8.85,8.90,8.69,8.73,8.88,-0.15,-1.69,689845.58,603427.713
3,000001.SZ,20180713,8.92,8.94,8.82,8.88,8.88,0.00,0.00,603378.21,535401.175
4,000001.SZ,20180712,8.60,8.97,8.58,8.88,8.64,0.24,2.78,1140492.31,1008658.828
5,000001.SZ,20180711,8.76,8.83,8.68,8.78,8.98,-0.20,-2.23,851296.70,744765.824
6,000001.SZ,20180710,9.02,9.02,8.89,8.98,9.03,-0.05,-0.55,896862.02,803038.965
7,000001.SZ,20180709,8.69,9.03,8.68,9.03,8.66,0.37,4.27,1409954.60,1255007.609
8,000001.SZ,20180706,8.61,8.78,8.45,8.66,8.60,0.06,0.70,988282.69,852071.526
9,000001.SZ,20180705,8.62,8.73,8.55,8.60,8.61,-0.01,-0.12,835768.77,722169.579
10,000001.SZ,20180704,8.63,8.75,8.61,8.61,8.67,-0.06,-0.69,711153.37,617278.559
11,000001.SZ,20180703,8.69,8.70,8.45,8.67,8.61,0.06,0.70,1274838.57,1096657.033
12,000001.SZ,20180702,9.05,9.05,8.55,8.61,9.09,-0.48,-5.28,1315520.13,1158545.868

In [17]:
df['vwap'] = df['amount'] / df['vol'] *10
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,vwap
0,600000.SH,20191231,12.32,12.38,12.21,12.37,12.34,0.03,0.2431,319536.28,392736.236,12.290818
1,600000.SH,20191230,12.27,12.36,12.12,12.34,12.32,0.02,0.1623,410515.55,503090.483,12.255090
2,600000.SH,20191227,12.25,12.43,12.25,12.32,12.29,0.03,0.2441,279321.09,344832.499,12.345380
3,600000.SH,20191226,12.26,12.32,12.23,12.29,12.24,0.05,0.4085,157390.54,193083.033,12.267766
4,600000.SH,20191225,12.29,12.29,12.20,12.24,12.28,-0.04,-0.3257,136781.75,167407.896,12.239052
...,...,...,...,...,...,...,...,...,...,...,...,...
726,600000.SH,20170109,16.24,16.29,16.13,16.20,16.18,0.02,0.1200,149087.45,241579.598,16.203886
727,600000.SH,20170106,16.30,16.30,16.13,16.18,16.30,-0.12,-0.7400,171955.98,278864.536,16.217205
728,600000.SH,20170105,16.30,16.38,16.24,16.30,16.33,-0.03,-0.1800,264376.46,431449.126,16.319499
729,600000.SH,20170104,16.29,16.35,16.18,16.33,16.30,0.03,0.1800,296587.34,482612.222,16.272179
730,600000.SH,20170103,16.21,16.44,16.17,16.30,16.21,0.09,0.5600,162371.25,265043.268,16.323288

https://tushare.pro/document/2?doc_id=188

In [10]:
df = pro.hk_hold(trade_date='20190625', exchange='SH')
df

      code trade_date    ts_code  name       vol  ratio exchange
0    90782   20190625  600782.SH  新钢股份  81871694   2.56       SH
1    90783   20190625  600783.SH  鲁信创投    260435   0.03       SH
2    90784   20190625  600784.SH  鲁银投资     99021   0.01       SH
3    90785   20190625  600785.SH  新华百货       401   0.00       SH
4    90787   20190625  600787.SH  中储股份  95716315   4.35       SH
..     ...        ...        ...   ...       ...    ...      ...
867  90777   20190625  600777.SH  新潮能源  17277850   0.42       SH
868  90778   20190625  600778.SH  友好集团     54100   0.01       SH
869  90779   20190625  600779.SH   水井坊  40933661   8.37       SH
870  90780   20190625  600780.SH  通宝能源   1192996   0.10       SH
871  90781   20190625  600781.SH  辅仁药业   2010185   0.53       SH

[872 rows x 7 columns]